$primary-color: #d3d3d3;
$img-height: 130px;
$img-width: 130px;
$img-height-full: 230px;
$img-width-full: 230px;

%flex{
    display: flex;
}

.background {
    background-image: url("https://s3.us-east-2.amazonaws.com/personalproject89/dungeon+background.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    overflow: hidden;
    height: 100vh;
    color: $primary-color;
}

.stuff {
    @extend %flex;
    flex-direction: column;
    height: 40vh;
    // margin-bottom: 25vh;
    justify-content: center;
    color: $primary-color;
    font-weight: bolder;
    // border: 1px solid white;
}

.question{
    font-size: 3vh;
    font-weight: bolder;
    font-family: 'Permanent Marker', cursive;
}



@mixin transform($property){
    -webkit-transform: $property;
    -ms-transform: $property; 
    transform: translateX($property);
}

@mixin transformAttack($property){
    -webkit-transform: $property;
    -ms-transform: $property; 
    transform: translateX($property);
}

@keyframes onClick{
    0%{
        @include transform(40vw)
    }
    100%{
        @include transform(0vw)
    }
}

@keyframes onClick2{
    0%{
        @include transform(40vw)
    }
    100%{
        @include transform(0vw)
    }
}

@keyframes heroClick{
    0%{
        @include transform(-40vw)
    }
    100%{
        @include transform(5vw)
    }
}

@keyframes attack{
    0%{
        @include transformAttack(0vw)
    }
    100%{
        @include transformAttack(40vw)
    }
}


.enemy{
    height: 200px;
    width: 150px; 
}

.img_hero {
    height: $img-height;
    width: $img-width;
    // border: 1px solid white;
    image-rendering: pixelated;
    animation: heroClick 1s ease-in;
}

.img_enemy {
    height: $img-height;
    width: $img-width;
    // border: 1px solid white;
    image-rendering: pixelated;
    animation: onClick 1s ease-in;
}

.img_enemy2 {
    height: $img-height;
    width: $img-width;
    image-rendering: pixelated;
    animation: onClick2 1s ease-in;
}

.battle{
    @extend %flex;
    flex-direction: row;
    border: 3px solid purple;
    width: 100vw;
    min-height: 200px;
    justify-content: space-evenly;
    background-color: rgba(0,0,0,.7);
    // background-image: linear-gradient(black, purple, black);
    // background-size: contain;
}

@media only screen and (min-width: 1400px) {
    h4 {
      font-size: 30px;
    }
  }

@media only screen and (min-width: 1300px) {
    .img_hero {
      height: $img-height-full;
      width: $img-width-full;
    }
}

@media only screen and (min-width: 1300px) {
    .img_enemy {
      height: $img-height-full;
      width: $img-width-full;
    }
}

@media only screen and (min-width: 1300px) {
    .img_enemy2 {
      height: $img-height-full;
      width: $img-width-full;
    }
}
    