.end{
    background-image: url("https://s3.us-east-2.amazonaws.com/personalproject89/end.webp");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}

.graph{
    width: 30vw;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}