.dashboard {
    background-image: url("https://s3.us-east-2.amazonaws.com/personalproject89/login.jpg");
    background-color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 75vh;
    margin-bottom: 40vh;
}